// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.title{
    font-family: 'Vampiro One', cursive;
    color:#f14668;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-top: 25px;
}

.main-title{
    font-family: 'Vampiro One', cursive;
    color:#f14668;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin: 25px;
}

.flex_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
}

.buttons{
    background-color: #f14668;
    padding: 10px;
    border-radius: 1.5rem;
    color: #FFFF;
    font-size: 1.1rem;
    margin : 20px;
}

.auth_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: absolute;
    top: 0;
}