// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.title{
    font-family: 'Vampiro One', cursive;
    color:#f14668;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-top: 25px;
}

.flex_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons{
    background-color: #f14668;
    padding: 10px;
    border-radius: 1.5rem;
    margin-bottom: 20px;
    color: #FFFF;
    font-size: 1.1rem;
    margin-left: 10px;
    margin-right: 10px;
}